<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sjl.platform" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--友盟权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application>
        <!-- 7.0文件 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
        <!--友盟Appkey-->
        <meta-data android:name="UMENG_APPKEY" android:value="${UMENG_APPKEY}"/>
        <meta-data android:name="UMENG_CHANNEL" android:value="${UMENG_CHANNEL}"/>
        <meta-data android:name="UMENG_MESSAGE_SECRET" android:value="${UMENG_MESSAGE_SECRET}" />
        <service android:name=".service.PushIntentService"></service>
    </application>

</manifest>
