<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sjl.gank">

    <application>
        <activity android:name=".ui.GankMainActivity" />
        <activity android:name=".ui.GankDetailActivity" />
        <activity android:name=".ui.WebActivity" />
        <activity android:name=".ui.SortListActivity" />
        <activity android:name=".ui.ImageActivity"></activity>
    </application>

</manifest>